body {
  background: black;
  font-family: "Coursier";
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  border: 1px solid #DDD;
  width: 70%;
  margin: 0 auto;
  padding: 1em;
  text-align: left;
  background-color: white;
}

.title {
  background: red;
  box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
}

.logo {
  width: 30px;
  vertical-align: middle;
}

.imagen {
  display: flex;
  justify-content: center;
}

.alex {
  width: 600px;
  height: 450px;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 12px;
  margin-left: 506px;
}

.primary_button {
  border-radius: 8px;
  border: none;
  background: red;
  color: white;
  width: 100px;
  height: 36px;
  font-weight: bold;
}

.button1 {
  position: relative;
  left: 386px;
}

.button1:hover {
  cursor: pointer;
}

.post {
  background-color: white;
}